<h1>Supplier</h1>

<!-- <app-detail></app-detail> -->

<div *ngIf="displayFlag">
  <table id="customers">
    <thead>
      <tr>
        <th>#</th>
        <th>SupplierID</th>
        <th>Name</th>
        <th>GDN Flag</th>
        <th>Last Updated Date</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataArray; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.partyId }}</td>
        <td>{{ item.partyName }}</td>
        <td>{{ item.gdnFlag }}</td>
        <td>{{ item.lastUpdateDate }}</td>
        <td>
          <button type="button" (click)="detailDisplay(i)">Details</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!displayFlag">
  <div>
    <button class="back-btn" type="button" (click)="goBack(false)">
      Go back
    </button>

    <table id="customers">
      <tr>
        <td>Name:</td>
        <td>{{ keyData.partyName }}</td>
      </tr>

      <tr>
        <td>Id:</td>
        <td>{{ keyData.partyId }}</td>
      </tr>

      <tr>
        <td>Short name:</td>
        <td>{{ keyData.partyShortName }}</td>
      </tr>

      <tr>
        <td>GST Number:</td>
        <td>{{ keyData.gstin }}</td>
      </tr>

      <tr>
        <td>Address:</td>
        <td>
          {{ keyData.partyContacts[0].addressLine1 }}<br />
          {{ keyData.partyContacts[0].addressLine2 }}<br />
          {{ keyData.partyContacts[0].city }} <br />
          {{ keyData.partyContacts[0].stateName }}<br />
          {{ keyData.partyContacts[0].country }}<br />
          {{ keyData.partyContacts[0].picode }}
        </td>
      </tr>
      <tr>
        <td>Active Flag:</td>
        <td>{{ keyData.partyContacts[0].activeFlag }}</td>
      </tr>

      <tr>
        <td>Last Update Date:</td>
        <td>{{ keyData.partyContacts[0].lastUpdateDate }}</td>
      </tr>

      <tr>
        <td>Purpose Type:</td>
        <td>{{ keyData.partyContacts[0].purposeType }}</td>
      </tr>
    </table>
  </div>
</div>
